@import 'core/styles/media';

.container {
  lost-center: 1280px;
  lost-utility: clearfix;
  position: relative;
  width: 100%;

  @include below('d-large') {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.container__flex {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__flex_start {
  justify-content: flex-start;
}

