<template lang="pug">
  .container
    .container__flex(v-if="flex", :class="flexClass")
      slot
    slot(v-else)
</template>

<script>
import './container.scss';

export default {
  name: 'WContainer',
  props: {
    flex: { type: Boolean, default: false },
    modFlex: { type: String, default: '' }
  },
  computed: {
    flexClass() {
      return this.modFlex ? 'container__flex_start' : '';
    }
  }
};
</script>
