// Roboto

@font-face {
  font-family: 'Roboto';
  src:
    url('./Roboto/Light/Roboto-Light.woff') format('woff'),
    url('./Roboto/Light/Roboto-Light.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('./Roboto/Thin/Roboto-Thin.woff') format('woff'),
    url('./Roboto/Thin/Roboto-Thin.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('./Roboto/Regular/Roboto-Regular.woff') format('woff'),
    url('./Roboto/Regular/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('./Roboto/Medium/Roboto-Medium.woff') format('woff'),
    url('./Roboto/Medium/Roboto-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('./Roboto/Bold/Roboto-Bold.woff') format('woff'),
    url('./Roboto/Bold/Roboto-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('./Roboto/Black/Roboto-Black.woff') format('woff'),
    url('./Roboto/Black/Roboto-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}
