<template lang="pug">
.header
  w-container.header__container(:flex="true", :mod-flex="'start'")
    a.header__logo(:href="'/'")
    h2.title {{title}}
</template>

<script>
import './header.scss';

export default {
  name: 'WHeader',
  data: () => ({
    title: 'Boilerplate application'
  })
};
</script>
