@import 'core/styles/root';

.header {
  position: fixed;

  width: 100%;
  height: var(--heightHeader);
  top: 0;
  right: 0;
  left: 0;

  color: var(--colorLight);
  background-color: var(--colorPrimary);
}

.header__container {
  height: 100%;
}

.header__logo {
  display: block;
  width: var(--heightHeader);
  height: var(--heightHeader);
  background: url('./logo.png') no-repeat;
  background-size: contain;

  margin-right: 20px;
}
