@import 'core/styles/root';

.footer {
  position: fixed;

  width: 100%;
  height: var(--heightFooter);
  bottom: 0;
  right: 0;
  left: 0;

  color: var(--colorLight);
  background-color: var(--colorPrimary);
}

.footer__container {
  height: 100%;
}

.footer__copyright {
  display: block;
}

.footer__developer {
  line-height: 1.25;
  color: var(--colorLight);
  transition: color 0.3s ease;

  &:hover {
    color: var(--colorSecondary);
  }
}
