<template lang="pug">
.footer
  w-container.footer__container(:flex="true")
    span.footer__copyright © 2018 Application company
    a.footer__developer(href="://atwinta.ru") Создание сайта — «Атвинта»
</template>

<script>
import './footer.scss';

export default {
  name: 'WFooter'
};
</script>
