/* Scales (mobile-first) */

/**
 * @nuclide scales
 * @section Sizes
 * @deprecated
*/
$scales: (
  'm-small' : 320px,
  'm-middle': 480px,
  'm-large' : 768px,
  'd-small' : 1024px,
  'd-middle': 1250px,
  'd-large' : 1360px,
  'd-xlarge': 1650px,
  'd-hd'    : 1800px
) !default;

/**
 * @mixin
 * @section Media
 * @param $scale scale | pixels
 * @example
 *  @include at('middle');
 *  @include at(1280px);
 */
@mixin at($scale) {
  @if type-of($scale) == string {
    $breakpoint: map-get($scales, $scale);
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    $breakpoint: $scale;
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

/**
 * @mixin
 * @section Media
 * @param $scale scale | pixels
 * @example
 *  @include below('middle');
 *  @include below(1280px);
 */
@mixin below($scale) {
  @if type-of($scale) == string {
    $breakpoint: map-get($scales, $scale) - 1;
    @media (max-width: $breakpoint) {
      @content;
    }
  } @else {
    $breakpoint: $scale - 1;
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}

/**
 * Alias for below
 *
 * @mixin
 * @section Media
 * @param $scale scale | pixels
 */
@mixin for($scale) {
  @include below($scale) {
    @content;
  }
}

/**
 * @mixin
 * @section Media
 * @param $scale-min scale | pixels
 * @param $scale-max scale | pixels
 * @example
 *  @include between('small', 'middle');
 *  @include between(480px, 1280px);
 */
@mixin between($scale-min, $scale-max) {
  @if type-of($scale-min) == string and type-of($scale-max) == number {
    $bp-min: map-get($scales, $scale-min);
    $bp-max: $scale-max - 1;

    @media (min-width: $bp-min) and (max-width: $bp-max) {
      @content;
    }
  }

  @if type-of($scale-min) == string and type-of($scale-max) == string {
    $bp-min: map-get($scales, $scale-min);
    $bp-max: map-get($scales, $scale-max) - 1;

    @media (min-width: $bp-min) and (max-width: $bp-max) {
      @content;
    }
  }

  @if type-of($scale-min) == number and type-of($scale-max) == string {
    $bp-min: $scale-min;
    $bp-max: map-get($scales, $scale-max) - 1;

    @media (min-width: $bp-min) and (max-width: $bp-max) {
      @content;
    }
  }

  @if type-of($scale-min) == number and type-of($scale-max) == number {
    $bp-min: $scale-min;
    $bp-max: $scale-max - 1;

    @media (min-width: $bp-min) and (max-width: $bp-max) {
      @content;
    }
  }
}

@mixin hd() {
  @include at('d-hd') {
    @content;
  }
}

@mixin desktop() {
  @include between('d-xlarge', 'd-hd') {
    @content;
  }
}

@mixin notebook() {
  @include between('d-large', 'd-xlarge') {
    @content;
  }
}

@mixin tablet() {
  @include between('m-large', 'd-large') {
    @content;
  }
}

@mixin mobile() {
  @include below('m-large') {
    @content;
  }
}
