:root {
  --colorPrimary:   #1c181d;
  --colorSecondary: #f1bf01;
  --colorText:      #333333;
  --colorLink:      #42accb;
  --colorLight:     #ffffff;

  --fontSizeRoot:   16px;

  --heightHeader: 80px;
  --heightFooter: 60px;
}