@import 'normalize.scss/normalize.scss';

@import 'core/styles/font-stacks';
@import 'core/styles/helpers';
@import 'core/styles/media';
@import 'core/styles/root';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: var(--fontSizeRoot);
  color: var(--colorText);
}

body {
  position: relative;
  font-family: $font-stack-primary-fallback;
  padding-top: var(--heightHeader);
  padding-bottom: var(--heightFooter);

  &.has-primary-font {
    font-family: $font-stack-primary;
  }
}
